html{
    height: 100vh;
    width: 100vw;
}
        h1 {color: rgb(223, 14, 195); font:bold; font-size: 60px;}
    
 img{
    height: 400px;
    width: 400pxx;
}
body {
	font-family:  Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100%;
    min-width: 100%;
}

li { display: inline;}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 25px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

a {
    color: #ff3399;
	line-height: 1.6;
    text-align:left;
}
/*pink box for wepage*/
.grid-item-1{
  background-color: rgb(255, 102, 153);
  text-align: center;
  grid-column: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 50px;
  border-radius: 35%; 
  border: solid black 1px;
  padding: 20px;
  overflow-wrap: break-word;
}    

h2 {
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(3, 0, 0); 
  display: inline-flexbox;

      padding: 10px 20px;
      max-width: q;
      padding-left: 20px;
}




